.u-module {
  
}

.u-container-module {
  background-color: white;
  min-height: 200px;
  margin-bottom: 5px;
  .module-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid $light-border-color;
    font-size: 14px;
    text-align: center;
  }
}