$primary-color: rgb(84, 108, 214);
$primary-vice-color: white;

$secondary-color: green;
$secondary-vice-color: black;
$shadow-color: rgba(0,0,0,0.2);
$light-border-color: #dddddd;

.jz-button-primary {
  background-color: $primary-color;
  color: $primary-vice-color;
  &:hover,
  &:active {
    background-color: $primary-vice-color;
    color: $primary-color;
    border-color: $primary-color;
  }
}

.jz-button-outline-primary {
  background-color: $primary-vice-color;
    color: $primary-color;
    border-color: $primary-color;
  &:hover,
  &:active {
    background-color: $primary-color;
    color: $primary-vice-color;
    
  }
}

